.notAvail {
    color: grey;
  }

p{
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: rgba(255,255,255,.9);
    text-shadow: 2px 2px 6px lightblue;
}


.dayModal{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(3,3,3,.4);
    background-blend-mode: multiply;
    line-height: 3.5rem;
    text-align: center;
}

.timeSlots{
    font-family: 'Special Elite', cursive;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    color: rgba(255,255,255,.9);
    text-shadow: 2px 2px 6px lightblue;
}

.timeTable{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slotsButton{
  font-family: 'Titan One';
  font-size: 20px;
  font-weight: 100;
  color: white;
  background-color: navy;
  border-radius: 30%;
  height: 70px;
  width: 210px;
  padding: 10px;
  margin-bottom: 5%;
  margin-left: 40%;
  border: solid 2px white;
}